<ng-container *ngTemplateOutlet="customView ? customView : defaultView">

</ng-container>

<ng-template #defaultView>
  <div class="search" #search>
    <nz-input-group nzSuffixIcon="search">
      <input type="text" #nzInput nz-input
             [nz-popover]="searchPanelRef"
             placeholder="歌单/歌手/歌曲"
             [nzPopoverTrigger]="null"
             (focus)="onFocus()"
             [(nzPopoverVisible)]="visible"
             [nzPopoverOverlayStyle]="nzPopoverStyle"
      />
    </nz-input-group>
  </div>
</ng-template>





<ng-template #searchPanelRef>
  <app-wy-search-panel [keywords]="searchValue" (changeVisible)="toggleVisible($event)"></app-wy-search-panel>
</ng-template>

